*{
    padding: 0;
    margin: 0; 
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    background: rgb(185, 148, 148);
}

/* STYLE BUAT NAVBARNYA */
header{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    position: sticky;
    top:0;
    z-index: 100000;
    outline: none;
    transition: all .2s linear;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: radial-gradient(rgb(252, 230, 230), rgb(229, 143, 143));
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 0 10px black;
}
header .sub{
    display: flex;
    gap: 50px;
}
header .sub a{
    text-decoration: none;
    margin: 10px;
}
header .sub a h2{
    margin-left: -55px;
}
header .logo img{
    height: 45PX;
    width: 45px;
    border-radius: 50%;
    justify-items: center;
}
header .navbar a{
    font-size: 20px;
    text-decoration: none;
    padding:  15px;
    color: rgb(190, 112, 9);
    border: .1rem solid transparent;
}
header .navbar a:hover{
    color: red;
    border: 2px solid rgb(255, 255, 255);
}
header .icons img{
    cursor:pointer;
    margin-left: .5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 10px;
    padding: 1px;
    color: solid black;
    height: 45PX;
    width: 45px;
    border-radius: 50%;
}
header .icons img:hover{
    transform: rotate(360deg);
    background: rgb(231, 65, 65);
}
header .icons #menu{
    display: none;
}
header h2{
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-left: -135px;
    font-family: Over the Rainbow;
}


/* STYLE BUAT SECTION */
section{
    margin-top: 100PX;
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: rgb(165, 121, 40);
}
.heading span{
    color: rgb(221, 180, 67);
}
.speciality .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.speciality .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 0 10px solid black;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5%;
}
.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-container .box .content{
    text-align: center;
    background: white;
    padding: 10px;
}

.speciality .box-container .box .content img{
    width: 100px;
    height: 130px;
    margin: 5px 0;
}
.speciality .box-container .box .content h3{
    font-size: 2.5rem;
    color: tomato;
}
.speciality .box-container .box .content p{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    padding: 5px;
}
.speciality .box-container .box:hover .image{
    top: 0;
}
.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.popular .box-container .box{
    padding: 3px;
    background: rgb(248, 231, 231);
    box-shadow: 5px 0 15px solid black;
    border: 2px solid black;
    border-radius: 5%;
    text-align: center;
    flex: 1 1 30rem ;
}
.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: 5%;

}

.popular .box-container .box .price{
    position: absolute;
    top: 3px;
    left: 3px;
    background: orange;
    color: rgb(0, 0, 0);
    font-size: 10px;
    padding: 5px 1px;
    border-radius: 5%;
}
.popular .box-container .box h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 1rem;
}
.stars a{
    font-size: 20px;
    text-decoration: none;
    
}
.stars a:hover{
    color: red;
}


/* STYLE FORM */
.order form{
    max-width: 90rem;
    border-radius: 5%;
    box-shadow:  4px solid black;
    border:  3px solid rgb(202, 178, 97);
    background: white;
    padding: 20px;
    margin: auto;
}
.order form .input{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    justify-content: center;
}
.order form .inputBox .input{
    height: 90px;
}

.order form .inputBox .input span{
    display: block;
    color: white;
}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background: rgb(235, 235, 223);
    background-origin: 3%;
    padding: 15px;
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-bottom: 15px;
    width: 100%;
}
.order form .inputBox .input input:focus,.order form .inputBox .input textarea:focus{
    border: 3px solid black;
}
.order form .inputBox .input textarea{
    height: 15px;
    resize: none;
    margin-top: 20px;
}
.order form .inputBox2 .input  input{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    background: goldenrod;
    cursor: pointer;
    border-radius: 10%;
    color: rgb(248, 248, 248);
}
.order form .btn{
   margin-top: 0;
}
.order .sub-h{
    font-size: 20px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 991px){
    header{
        padding: 1rem 2rem;
    }
  
}
@media (max-width: 700px){
    header .icons #menu{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(209, 107, 107);
        border-top: .1rem solid rgb(10, 10, 10);
        border-bottom: .1rem solid rgb(0, 0, 0);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: rgb(90, 51, 51);
    }
}